/* /sidepanel/sidepanel.css */
body {
    font-family: Arial, sans-serif;
  }

  .dark-mode {
    background-color: #282828;
    color: white;
  }

  button {
    border-radius: 4px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    font-weight: bold;
    &:hover {
      background-color: #007bff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }

  .dropdown:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  
  .dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:5px;
  }

  #settings-button:hover {
    background-color:#ddd;
  }

  #delete-account-button {
    &:hover {
      background-color: #b80c06;
    }
  }

  .remove-button {
    &:hover {
      background-color: #b80c06;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  #extension-title {
    text-align: center;
  }
  
  #auth-container {
    max-width: 300px;
    margin: auto;
  }

  #disclosure {
    text-align: center;
  }

  span {
    display: block;
    overflow: hidden;
  }

  #status {
    color: red;
  }

  .container {
    padding: 2px 16px;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
  }

  .add-feed-container {
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
  }

  .add-feed-container input {
    width: 100%;
  }

  .submit-button {
    float: right;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }
  }

  
  
  /* On mouse-over, add a deeper shadow */

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-header h3 {
    padding-right: 4px;
  }

  .video-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    transition: 0.3s;

    display: flex;
    border: 1px solid #ccc;
    padding: 0;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
    }
  }

  .video-info {
    display: block;
    margin-left: 5px;
    align-content: center;
  }

  .video-info h3, h4 {
    margin-block-start: 10px;
    margin-block-end: 10px;
  }

  .thumbnail {
    min-height: 30px;
    max-height: 120px;
  }

  .channel-list {
    margin-top: 10px;
  }

  .channel-list ul {
    list-style-type: none;
    padding: 0;
  }

  .channel-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .open-feed-button {
    margin-top: 10px;
    display: block;
    width: 100%;
  }


  .add-channel-div {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  .add-channel-div input {
    flex: 1;
  }


  .add-channel-div button {
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    cursor: pointer;
  }

  .add-channel-div button:hover {
    background-color: #0056b3;
  }
  
  #video-header {
    text-align: center;
    padding: 4px;
  }

  .edit-delete-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .edit-delete-div a {
    padding-left: 4px;
  }

  .add-channel-form p {
    text-align: center;
  }


  
  